<section class="my-4 p-4">
    <input [(ngModel)]="saerchValue" type="text" placeholder="search by name " class="p-2 mb-4 block mx-auto rounded w-[50%]">
<div class="container p-4 w-[90%] mx-auto">
    

  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
      
@for (product of productsData |search : saerchValue; track product._id) {
    <div class="product p-4 cursor-pointer ">

        <div  [routerLink]="['/product-details',product._id]" >
        <div class="mt-4">
            <img [src]="product.imageCover" [alt]="product.title">
        </div>
        <div class="mt-4">
            <h2 class="font-black text-main">{{product.category.name}}</h2>
            <h1>{{product.title.split(' ').slice(0,3).join(' ')}}</h1>
        </div>
<div class="flex mt-4 flex-wrap justify-between items-center">
<h3>{{product.price}}</h3>
<span>  <i class="rating-color fa-solid fa-star"> </i>{{product.ratingsAverage}}</span> 
    </div> 
</div>


<div><span><i (click)="AddToWishList(product._id)" class="fa-solid fa-heart h-5 text-2xl ms-[75%]"></i></span></div>
        <div class="mt-4">
            <button (click)="addToCart(product._id)" class="btn-main w-full">Add to card</button>
        </div> 
    </div>}

    </div>
</div>
</section>
